h2{
  text-align: center;
  padding: 10px;
  font-weight: bold;
}


input[type=button], input[type=submit] {
  background-color: #29484b;
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 400px;
}
